
        #main{
    padding:10% ;
    height: 70%;
}

p{
    color: white;
    /* padding-left: 45%; */
    font-family: 'Open Sans',sans-serif ;
    font-size: 20px;
    line-height: 1.6;
    /* padding-top: 2%; */
    /* text-align: left; */
    
}



.content>h1{
    text-align: left;
    color:white;
    font-size: 72px; 
    font-family:"Changa One";
    letter-spacing: 4px;
    /* padding-top: 45%; */

}

button{
  background-color: white; /* Green */
  border: none;
  color: BLACK;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 2%;
  /* margin-left: 3%; */
  font-family: 'Open Sans',sans-serif;
  font-size: 1rem;
}

#navbar{
    height:60px;
    background-color:white;
    
    }
#logo{
    font-size:40px;
    color:rgb(153, 150, 150);
    font-family: monospace;
    padding-right: 240px;
}
a{
    padding-left:30px;
    font-size: 20px;
    padding-bottom: 20px;
    
}
.button1:hover {
    background-color: rgb(167, 163, 163);
    color: white;
}


.container{
    /* background-color: black; */
    height: 90%;
    width:100%;
    display: flex;
    justify-content: center;
    gap: 2.5%;
    
    
}

.imgWrapper{
    position: relative;
    background-color: white;
    width:20%;
    aspect-ratio: 1;
display: flex;
flex-direction: column;
 align-items: center;
 border-radius: 100dvw;
 overflow: hidden;
 border: 2.5vmin solid white;
 box-shadow: 0 0 1.5vmin black;

 

transform: translateY(-25%);

}

.imgWrapper .img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}

.imgWrapper p{  
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    color: black;
    font-family: Roboto,sans-serif;
    font-size: 24px;
}

footer{
   background-color: #333333;
   padding-bottom: 0%;
   text-align: center;
   padding-top: 2%;
   line-height: 1.6;
   font-size: 12px;
   height: 200px;
}
    